#home {
  background-color: #FFFFFF;
  color: #363636;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 100px 0;
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
  h2 {
    font-family: "Varela", "Helvetica", "sans-serif";
  }
}
@media (max-width: 1250px) {
  .home-content {
    width: 100%;
  }
}
